@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Open+Sans&display=swap');
body{
    background-color:#251412;
    }
h1{
    font-family:'Castoro Titling' cursive ;
    font-size:2.0em;
    font-style:bold;
    color: ghostwhite;
    text-align: center;
    padding-top:1.5%;
    padding-bottom:1.5%;
    }
h2{
    font-family:'Castoro Titling' cursive ;
    font-style:bold;
    font-size:2.0em;
    color: ghostwhite;
    text-align: center;
    padding-top:1.5%;
    padding-bottom:1.5%;
}
h3{
    font-family:'Castoro Titling' cursive ;
    font-size:2.0em;
    font-style:bold;
    color: ghostwhite;
    text-align: center;
    padding-top:1.5%;
    padding-bottom:1.5%;
}
 p{
    font-family:'Open Sans', sans-serif ;
    padding:1.5%;
    line-height:1.5;
    color: ghostwhite;
    font-size:100%;
   
 }
header{
    width:100%;
    background-color:#8D6116;
    padding:1%;
    }
nav{

}
.logo {
    display: flex;
    padding-left:15%;
} 
.container{
    width:80%;
    background-color:#412729;
    margin: auto;
    border:1px solid gold ;
}
.banner{
    padding-top:1%;
    padding-bottom:1%;
    width:100%;
}
footer{
    background-color:#00010D;
    width:100%
}
.pessoas{
    border:1px solid gold;
    margin-left:35%;
    width:30%;

}
.logo{
    width:60%;
}
.ds{
    font-weight: lighter;
    color: gold;
    background-color:#251412;
    margin-right: 30%;
    margin-left:30%;
    font-size:1.2em;
    border: solid gold;

}
    
.boss{
    padding-top:1.5%;
    padding-left:25%;
    font-style: italic;
    color: gold;
}
.site{
    text-decoration: none;
    color: ghostwhite;
}
.menu{
    text-decoration: none;
    color:ghostwhite;
    font-family: 'Castoro Titling', cursive ;
 }
 .menu :hover{
    
 }